/.quarto/
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
404.qmd
README.md
_freeze
_quarto.yml
_site
about.qmd
assets
blog
blog.qmd
custom.scss
img
index.qmd
projects.qmd
quarto-website.Rproj
styles.css
